{% extends "en-base.twig" %}

{% block content %}
    
    <section class="banner not-found-section">
        <div class="container text-center ">
            <h2>Hello,</h2>
            <p>it's not me you're <br class="d-block d-sm-none">looking for</p>
            <div class="not-found-main row mt-5">
                <div class="col-12 col-md-8"> <img src="{{ site.theme.link }}/assets/img/404_Lionel-Richie_Final.svg" alt=""></div>
                <div class="col-12 col-md-4"><a href="{{ home_url }}" class="btn fp-btn fp-btn-orange">Go to Homepage</a></div>


            </div>
        </div>
    </section>

{% endblock %}