{% extends "en-base.twig" %}

{% block content %}
<section class="pad-header"></section>

<!-- Banner -->
<section class="section-terms section-grey">
    <div class="container">
        <div class="paper-back">
            <h1>Terms of Business</h1>

            <h6 class="text-primary text-right"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp; <a href="{{ site.url }}/pdf/Terms-of-Service-First-Page-Australia-2021.pdf" target="_blank">Download PDF</a></h6>
            <p>By accessing and using this service, you accept and agree to be bound by the terms and provision of this agreement.</p>
<h3>General Terms</h3>
            <p>These terms and conditions apply in respect of all work undertaken by First Page Digital Pty Ltd (ACN 647 588 190). By engaging&nbsp;First Page Digital Pty Ltd (ACN 647 588 190) with their business, the clients will be accepting the following terms and conditions. These Terms and Conditions are subject to change without notice and may be superseded. First Page Digital Pty Ltd (ACN 647 588 190) may modify these Terms and Conditions by general notice on a page of our website, by email or by any other method of communication.</p>
<ol type="1">
<li>Definitions
<ol type="1">
<li>The Agreement, as varied from time to time, applies to the provision of all services by the Company to the Client pursuant to the Agreement, together with any non-excludable conditions and warranties expressed by law, constitutes the entire agreement between the parties.</li>
<li>&ldquo;Agreement&rdquo; means these general terms and conditions herewith.</li>
<li>&ldquo;Client&rdquo; means the person and/or business described as the client in the Agreement</li>
<li>&ldquo;Company&rdquo; means First Page Digital Pty Ltd (ACN 647 588 190)</li>
<li>&ldquo;Business Day&rdquo; means any day that is not a Saturday, Sunday or a public holiday in Victoria.</li>
<li>&ldquo;Fees&rdquo; means the Price together with any Additional Charges incurred by you relating in any way to this Agreement and the Services.</li>
<li>&ldquo;Website&rdquo; means your website designed, built and hosted pursuant to this Agreement.</li>
<li>&ldquo;Campaign Scope&rdquo; means the document entitled either &ldquo;Scope&rdquo; or &ldquo;Proposal&rdquo; provided by First Page Digital to the Client containing the Services, Price and the Term of the campaign.</li>
<li>&ldquo;Intellectual Property&rdquo; means the intellectual property attaching to the Services including copyright, patents, trademarks, design rights, domain names whether registrable or not and whether registered or not.</li>
<li>&ldquo;Confidential Information&rdquo; means all the information provided by one party to the other in connection with this Agreement where such information is identified as confidential or ought reasonably to be considered to be confidential based on its context, nature or the manner of its disclosure, but excluding:</li>
<li>information that is in the public domain other than by a breach of this Agreement; and</li>
<li>information developed independently by a third party.</li>
<li>Without limiting the foregoing, Confidential Information includes the terms of this Agreement and the contents of the Scope or Proposal.</li>
<li>&ldquo;Price&rdquo; means the fees outlined in the Agreement</li>
<li>&ldquo;You&rdquo; and &ldquo;Your&rdquo; means the Client named in the Agreement</li>
<li>&ldquo;Our&rdquo;, &ldquo;Us&rdquo;, &ldquo;First Page Digital Pty Ltd&rdquo; and &ldquo;We&rdquo; means the &ldquo;Company&rdquo; First Page Digital Pty Ltd trading as First Page Digital (ACN 647 588 190)</li>
</ol>
</li>
<li>The Client agrees that this agreement shall continue for the "term" from the date of this agreement. Once the "term" is reached, the campaign will continue to roll on until the client provides the company 30 days' written notice. In the event that the Client terminates the Company's services within the "term" from the date of this agreement, the Client agrees that they shall be liable for and pay the Monthly Fee for the balance remaining of the "term".</li>
<li>The Client shall give feedback within the timeframe as stated in the timeline provided by the Company to avoid delays. The Company reserves the right to terminate the agreement in any of the following circumstances:
<ol type="1">
<li>the Client does not contact / respond to requests by email or telephone within ten (10) working days.</li>
<li>the Client&rsquo;s instructions deviate from this agreement and/or the Client refuses to pay any additional fees if required to do so for any additional work required.</li>
<li>the Client fails to provide content, and/or any additional information requested by the Company within the reasonable deadlines stated.</li>
<li>the Client has more than 1 outstanding invoice in the balance.</li>
</ol>
</li>
<li>In the event of any of the above stated occurrences, the Company may terminate the agreement in writing. Should the Company proceed with a termination, the Client is responsible for the remaining balance to be fulfilled in the Agreement.</li>
<li>The Client acknowledges that the Company makes no warranty that our service will guarantee any increase in traffic, sales, business activity, profits or any other form of improvement for the Client&rsquo;s business or any other purpose. The Client shall indemnify the Company for any damages or losses arising from or as a consequence of the provision of the Services..</li>
<li>The Client undertakes to handle all personal data in the Website in accordance with the provisions of the Personal Data (Privacy) Ordinance, including but not limited to the following:
<ol type="1">
<li>collect adequate, but not excessive, personal data by lawful and fair means only for lawful purposes related to the functions or activities of the Website;</li>
<li>take all reasonably practicable steps to ensure that the personal data collected or retained are accurate, having regard to the purposes for which they are to be used;</li>
<li>erase personal data which are no longer necessary for the purposes for which they are to be used;</li>
<li>use the personal data collected only for purposes or directly related purposes for which the data were to be used at the time of collection, unless the individual concerned has given express consent for a change of use or such use is permitted by law;</li>
<li>take all reasonably practicable steps to ensure that personal data are protected against unauthorised or accidental access, processing, erasure or other use;</li>
<li>take all reasonably practicable steps to ensure that a person can be informed of the kinds of personal data that the Website holds and the purposes for which the data are to be used; and</li>
<li>permit persons to access and correct personal data of which they are the data subjects and process any such access/correction requests in a manner permitted or required by law.</li>
</ol>
</li>
<li>The Client warrants to the Company that it shall indemnify the Company for any breach(es) of personal data privacy claims.</li>
<li>The Monthly Fee may be made by the Client to the Company by bank transfer, cheque or online direct debit via our secure online payment portal. The Company shall commence to provide the Services herein to the Client upon receipt of the Client&rsquo;s first payment and thereafter the Client shall settle the Monthly Fees within 7 days upon receipt of ongoing invoices issued by the Company. The Company reserves the right to assess and collect late-payment charges of 5% per month on any outstanding balances of the Monthly Fee(s).</li>
<li>There are no refunds available on services provided by the Company once payment is affected by the Client. There is also no credit SERVICE AGREEMENT transferred unless the Company agrees. There is also no credit transferred unless the Company agrees.</li>
<li>Any agreement to engage the Services of the Company is made in accordance with Australian laws and regulations. The Services are considered entered into under the jurisdiction of the State of Victoria, Australia. If any dispute arises between the Company and the Client, both parties irrevocably submit to the jurisdiction of the courts of the State of Victoria, Australia.</li>
<li>The Client shall not offer any form of employment to the Company&rsquo;s current and past staff whilst using the Company&rsquo;s services, or within 12 months of ceasing the Company&rsquo;s services at any time during the Term hereof to the expiry of twelve (12) months after the date of termination of this Agreement (as the case may be) employ or attempt to employ any person who is, or shall at any time between the date hereof and the date of such termination be, one of the Company&rsquo;s employees engaged in providing the Services.</li>
</ol>
<h3>Search Engine Optimization (SEO)</h3>
<p>The following terms relate to the supply of search engine optimization (SEO) services (&ldquo;the Services&rdquo;) by the Company (First Page Ltd) to the Client for the Website.</p>
<ol type="1">
<li>The Company agrees to provide the Client with the Services and is authorised by the Client to use the Key Phrases to attempt to improve the ranking of and/or positioning of the Website within the Search Engines.</li>
<li>The client acknowledges and agrees that:
<ol type="1">
<li>If the Services provided are delayed and are not as a result of any fault(s) on the part of the Company, no refund or compensation will be offered to the Client.</li>
<li>In the event that the Client fails to provide to the Company the correct access (FTP/cPanel/CMS and others relevant to the website) logins to the Website or communicate these details within one month of this Agreement, the Client agrees that the Company will provide onsite as a separate document with instructions for the Client or a nominated representative (such as a developer) to upload.</li>
<li>The Client warrants to the Company that the Key Phrases and/or contents of the Website do not and will not violate any law or regulation.</li>
<li>The Client warrants to the Company that it has not received any written notice or claim, and the Key Phrases and/or the contents of the Website does not infringe, interfere, violate or misappropriate the intellectual property rights of any other party.</li>
<li>If the Company notifies the Client in writing of a claim or cause of action against the Company that any of the contents of the Website infringes a presently existing intellectual property right of a third party, the Client shall indemnify and defend such claim or cause of action at its own expenses and pay any costs or damages, including but not limited to all legal costs and disbursements which may be reasonably incurred or finally awarded against the Company.</li>
<li>The guarantee made by the Company in the (SEO Performance Guarantee) table does not apply in the following circumstances:
<ol type="1">
<li>If changes are made to the Website by other parties than the Company that adversely affect the search engine rankings of the Website (as determined by the Company);</li>

<p>or</p>
<li>If the Website is offline due to a reason not caused by the Company.</li>
</ol>
</li>
</ol>
</li>
</ol>


<ol start="7">
<li>If the Company does not reach the stipulated guarantees/milestones at not fault of the Client (Company has full website access and client site has never been offline), the company shall work for free for no more than 90 days after the contract term is completed.</li>
<li>The guarantee begins from the day the Company uploads seo copy to the Clients website. The guarantee is void if the Company&rsquo;s changes are overwritten or lost by the Client.</li>
</ol>
<ol start="3">
<li>The Client acknowledges that the Company makes no warranty that SEO will generate any increase in sales, business activity, profits or any other form of improvement for the Client&rsquo;s business or any other purpose. No liability whatsoever (except as provided by law) will be accepted by the Company for any damages or losses arising from or as a consequence of the provision of the Services.</li>
</ol>
<h3>Paid Media: Pay Per Click (PPC) &amp; Paid Social</h3>
<p>The following terms relate to the offer to supply Pay-Per-Click (PPC) / digital advertising / social media advertising / Paid Social / Facebook/Instagram Advertising / LinkedIn Advertising / Yahoo Bing Advertising services (&ldquo;the Services&rdquo;) by &ldquo;the Company&rdquo; to the &ldquo;Client&rdquo; for the &ldquo;Website&rdquo;.</p>
<ol type="1">
<li>The Company agrees to provide the Client with the Services and is authorised by the Client to use the Key Phrases to manage and attempt to improve the performance of the Client&rsquo;s advertising campaign(s) within the Search Engine and/or managing digital advertising on other platforms on platforms including, but not limited to: Google, Bing/Yahoo, Facebook, Linkedin, WeChat.</li>
<li>For the purposes of providing these services, &ldquo;Client&rdquo; agrees to provide where applicable:
<ol type="1">
<li>Google Ads, Google Search Console, Facebook Business Manager, LinkedIn Ad Manager and Google Analytics access.</li>
<li>If applicable suggested keywords for ad targeting, as well as ad copy suggestions and creative assets are shared with the Company by the Client. The Client warrants the Client has the unrestricted legal and/or trademark and patent rights to use the assets provided to the Company for digital advertising purposes in all of the territories and/or countries targeted via digital ads. The Client also confirms that the Company has the right to act as an agent of the Client deploying said creative assets via digital advertising. If any the creative assets provided by the Client to the Company can, for whatever reason, no longer be used in digital advertising, it is the sole responsibility of the Client to promptly inform the Company in writing via letter or official Company email. If the Company has produced creative assets (ads) for the Client (to be used in digital advertising promoting the Client&rsquo;s products or services), the Client will take the sole reasonable for promptly pointing out to the Company (in writing via official Company email addresses) any reasons as to why said creative assets cannot be used / run in digital advertising. These reasons include but are not limited to: use of non approved brand language, use of non approved brand visuals or imagery, use of non approved corporate identity. It is the sole responsibility of the Client to share brand guidelines, as well as lists of &lsquo;non brand approved&rsquo; terminology and jargon at the beginning of the cooperation between the Client and the Company.</li>
<li>The Company warrants that its own creative work (assets created for ads and copywriting for ads) is original and that it will not knowingly or negligently infringe the rights or intellectual property of a third party. It is the Client&rsquo;s sole responsibility to make all appropriate searches or enquiries in this regard at the appropriate time prior to the start of all work to be completed by the Company. Beyond the scope of this warranty, the Company shall have no liability to the Client in respect of any infringement or alleged infringement of intellectual property of any third party or passing off.</li>
<li>The Client acknowledges the following with respect to services:</li>
<li>The Company has no control over the policies of search engines with respect to the type of ads that are being served on the search engine and/or advertising platform and/or the sites and/or content that they accept now or in the future. &ldquo;Client&rdquo; site and keywords may be excluded from any website or search engine results page at any time at the sole discretion of the search engine and/or advertising platform.</li>
<li>It is the sole responsibility of the Client to inform the Company of keywords that should, for whichever non performance related reason, categorically be excluded from targeting.</li>
<li>Media spend can be paid to Google, Bing/Yahoo, Facebook, Linkedin, WeChat or any other advertising platform directly by the Client. The Company can pay on behalf of the Client, once the Client has prepaid the Company&rsquo;s invoice which includes media spend.</li>
</ol>
</li>
<li>The Client acknowledges that the Company makes no warranty that digital ads will generate any increase in sales, business activity, profits or any other form of improvement for the Client&rsquo;s business or any other purpose. If performance goal related bonus components are mutually agreed by the Company and the Client, the Company will make reasonable efforts towards achieving said performance related goals. This however does not warrant any guarantees that performance goals can and/or will be achieved.</li>
<li>No liability whatsoever (except as provided by law) will be accepted by the Company for any damages or losses arising from or as a consequence of the provision of the Services.</li>
<li>The Client acknowledges that the Company will invoice service fees for managing ads on Google, Bing/Yahoo, Facebook, Linkedin, WeChat or any other advertising platform as per the stipulations outlined in the service agreement. In cases where service fees are not stipulated in the service agreement the following fee structure applies:<br /> The Client acknowledges that the Company will adjust the monthly service fee based on a percentage of the media spend (click spend) when the following thresholds or click spend are reached per service:
<ol type="1">
<li>When monthly click spend is between AUD$4500 and AUD$10,000, the clients monthly service fee will amount to 20% of total media spend (click spend)</li>
<li>When monthly click spend is between AUD$10,100 and $AUD20,000, the clients monthly service fee will amount to 18% of total media spend (click spend)</li>
<li>When monthly click spend is between AUD$21,000 and AUD$40,000, the clients monthly service fee will amount to 16% of total media spend (click spend)</li>
<li>When monthly click spend is AUD$41,000 and above, the clients monthly service fee will amount to 15% of total media spend (click spend)</li>
</ol>
</li>
<li>The Client acknowledges that the Company will provide an agreed, set number of ad variations for the clients&rsquo; approval (this includes ad copies as well as creative assets used in digital advertising). Unless otherwise agreed by the parties, the standard ad revision is one round per ad. Subject to prior written Client approval any further rounds of revisions for a particular ad variation may incur an additional fee that will be added to the Clients&rsquo; next invoice. Such additional fees need to be approved by the Client before the subsequent rounds of revisions are executed by the Company.</li>
</ol>
<h3>Social Advertising</h3>
<p>The following terms relate to the offer to supply Social Media Advertising services (&ldquo;the Services&rdquo;) by &ldquo;the Company&rdquo; to the &ldquo;Client&rdquo; for the &ldquo;Website&rdquo;.</p>
<ol type="1">
<li>The Company agrees to provide the Client with the Services and is authorised to use Social Media Advertising to manage and attempt to improve the performance of the Client&rsquo;s advertising campaign/s within the agreed upon channel.</li>
<li>For the purposes of providing these services, &ldquo;Client&rdquo; agrees to provide where applicable: channel page log in details, copy suggestions for ad creation.</li>
<li>The Client acknowledges the following with respect to services:
<ol type="1">
<li>The Company has no control over the policies of channels with respect to the type of sites and/or content that they accept now or in the future.</li>
<li>Targeting selected for channel is up to the discretion of the &ldquo;Company&rdquo;.</li>
<li>Media spend can be paid to Google, Facebook, Instagram, Linkedin or WeChat directly by the Client, or the Company can pay on behalf of the client, once the Client has prepaid the Company&rsquo;s invoice which includes media spend.</li>
</ol>
</li>
<li>The Client acknowledges that the Company will provide an agreed, set number of ad variations for the clients&rsquo; approval. Unless otherwise agreed by the parties, the standard ad revision is one round per ad. Any further rounds of revisions for a particular ad variation may incur an additional fee that will be added to the Clients&rsquo; next invoice. The fee will need be disclosed by the Campaign Manager to the Client and will need to be approved by the Client before the subsequent rounds of revisions are execute.</li>
</ol>
<h3>Landing Page</h3>
<p>The following terms relate to the offer to supply Landing Page Design &amp; Development services (&ldquo;the Services&rdquo;) by &ldquo;the Company&rdquo; to the &ldquo;Client&rdquo; for the &ldquo;Website&rdquo;.</p>
<ol type="1">
<li>The Company agrees to provide the Client with the Services including:
<ol type="1">
<li>A custom designed landing page.</li>
<li>One round of minor design revisions.</li>
<li>Up to 300 words of copy (unless provided by the "Client").</li>
</ol>
</li>
<li>The Company agrees to complete "the Services" within 14 business days, if "the Client" provides necessary approvals within 24 hours. "The Client" agrees that any delays in design, development and content approval will result in overall project delays.</li>
<li>For the purposes of providing these services, the &ldquo;Client&rdquo; agrees to provide where applicable: channel page log in details, copy suggestions, images, branding files and documents.</li>
<li>The Client acknowledges the following with respect to services:
<ol type="1">
<li>The Company has no control over the policies of channels with respect to the type of sites and/or content that they accept now or in the future.</li>
</ol>
</li>
<li>No liability whatsoever (except as provided by law) will be accepted by the Company for any damages or losses arising from or as a consequence of the provision of the Services.</li>
</ol>
<h3>Content Writing</h3>
<p>The following terms relate to the offer to supply Premium Content Writing services (&ldquo;the Services&rdquo;) by &ldquo;the Company&rdquo; to the &ldquo;Client&rdquo; for the &ldquo;Website&rdquo;.</p>
<ol type="1">
<li>The Company agrees to provide the Client with the Services including:
<ol type="1">
<li>A dedicated Content Writing Specialist</li>
<li>One round of minor revisions</li>
</ol>
</li>
<li>The Company agrees to complete &ldquo;the Services&rdquo; within the agreed upon turnaround time, as per the signed Service Agreement between the Client and the Company, if the Client provides necessary approvals and amendments within 3 business days.</li>
<li>For the purposes of providing these services, the Client agrees to provide:
<ol type="1">
<li>A completed content questionnaire with proper detail</li>
<li>Copy samples and suggestions</li>
<li>Approval of content within 10 business days</li>
</ol>
</li>
</ol>
<p>And where applicable:</p>
<ol start="4">
<li>Images</li>
<li>Branding files</li>
<li>Channel page log in details</li>
</ol>
<ol start="4">
<li>The Client acknowledges the following with the respect to the Services:
<ol type="1">
<li>The Company has no control over the policies of channels with respect to the type of sites and/or content that they accept now or in the future.</li>
<li>The Company has permission to upload the content, should the Company have relevant access and the Client does not provide approval within the agreed 10 business days</li>
</ol>
</li>
<li>No liability whatsoever (except as provided by law) will be accepted by the Company for any damages or losses arising from or as a consequence of the provision of the Services.</li>
</ol>
<h3>Reputation Management</h3>
<p>The following agreement relates to the supply of Online Reputation Management (ORM) services (&ldquo;the Services&rdquo;) by First Page Digital (&ldquo;the Company&rdquo;) to the &ldquo;Client&rdquo; for the Campaign.</p>
<ol type="1">
<li>The &ldquo;Company&rdquo; agrees to provide the &ldquo;Client&rdquo; with the &ldquo;Services&rdquo; and is authorised to optimise the business profiles and microsites which are used in the campaign for the purposes of increasing the ranking for selected key phrases and the goal of demoting 'offending and negative sites&rsquo; on page 1 of google.</li>
<li>For the &ldquo;Company&rdquo; to provide the &ldquo;Services&rdquo;, the &ldquo;Client&rdquo; agrees to provide correct access and other necessary logins to the Website for uploading, title tags, meta tags and making changes to content and source code for the purpose of optimization.</li>
<li>The client acknowledges and agrees that:
<ol type="1">
<li>The Company has no control over the policies of the Search Engines with respect to the type of sites and/or content that they accept now or in the future.</li>
<li>The Client acknowledges that the Company makes no warranty that Reputation Management will generate any increase in sales, business activity, profits or any other form of improvement for the Clients business.</li>
<li>Services are due payment under all circumstances; including if any of the following situations occur which may disrupt the efforts and work provided by the &ldquo;Company&rdquo;:
<ol type="1">
<li>If changes are made to the website(s) and/or backlinks are built to the website by other parties that adversely affect the services provided by the Company; or</li>
<li>If the Website(s) is offline due to a reason not caused by the Company; or</li>
<li>If Google releases an algorithm update and changes suggested by the &ldquo;Company&rdquo; are not implemented by the &ldquo;Client&rdquo;</li>
</ol>
</li>
</ol>
</li>
</ol>
<ol type="1">
<li>If work is delayed through no fault of the &ldquo;Company&rdquo;</li>
</ol>
<ol start="4">
<li>Any guarantees made by the Company does not apply in the following circumstances:
<ol type="1">
<li>If changes are made to the Website(s) by parties other than the Company that adversely affect the search engine rankings of the Website (as determined by the Company);</li>
<li>If the Website(s) are offline due to a reason not caused by the Company.</li>
</ol>
</li>
<li>If the Company does not reach the stipulated guarantees or milestones, at no fault of the Client (Company has full website access and client site has never been offline), the company shall work for free for no more than 90 days after the contract term is completed.</li>
<li>The guarantee begins from the date of payment. All guarantees are void if any changes by the Company are overwritten or lost by the Client.</li>
<li>Early Termination: Either party may terminate this agreement by giving each other one month&rsquo;s written notice before the expiry of the &ldquo;term&rdquo;. In the event that the &ldquo;Client&rdquo; terminates the &ldquo;Company&rsquo;s&rdquo; &ldquo;Services&rdquo; during the period covered by this contract, the &ldquo;Client&rdquo; agrees that it shall be liable for and shall pay the Monthly Fee for the balance remaining of the contact.</li>
<li>There are no refunds available on services provided by the &ldquo;Company&rdquo;.</li>
<li>Definitions:<br /> 'Reputation Management&rsquo; means providing work to reduce the impact of 'offending sites&rsquo; made by third parties against the Client<br /> 'Offending sites&rsquo; means a website, blog post or article deemed as harmful to the Client&rsquo;s online reputation<br /> 'Negative Keyword&rsquo; means the keyphrases used as search terms which produce the 'offending sites&rsquo; deemed harmful to the Client&rsquo;s reputation</li>
</ol>
<h3>Photography/Videography</h3>
<p>The following terms relate to the offer to supply Photography and/or Videography services (&ldquo;the Services&rdquo;) by &ldquo;the Company&rdquo; to the &ldquo;Client&rdquo;.</p>
<ol type="1">
<li>The Company agrees to provide the Client with the Services including:
<ol type="1">
<li>Produce the photographs and/or videos</li>
<li>One round of minor design revisions</li>
<li>Upon full payment, licensing to photographs and/or videos created by the Company</li>
</ol>
</li>
<li>The Company agrees to complete "the Services" within 30 business days, if "the Client" provides necessary approvals within 3 business days.</li>
<li>For the purpose of providing the services, the Client agrees to provide:
<ol type="1">
<li>A completed brief or briefing session with proper detail</li>
<li>Photograph and/or video samples and suggestions</li>
<li>Approval of content within 3 business days<br /> And where applicable:</li>
<li>Branding files</li>
<li>Existing imagery</li>
<li>Client representative on day of shooting</li>
</ol>
</li>
<li>"The Client" agrees that any delays in briefing, communications and content approval will result in overall project delays.</li>
<li>The Company is entitled to use all Photographs and Videos for self-promotion purposes, including entries into contests and awards, advertising, print and website use.</li>
<li>Unless specified in the Agreement, the Company is the sole owner of any intellectual property created by the Company in the course of the Services, including but not limited to Photographs, Videos, digital or electronic material, scripts, or any other products relating to the photographs and/or videos.</li>
<li>Unless otherwise agreed to in writing, the Photographer is not responsible for storing or archiving any Photographs or Video footage.</li>
<li>The Company grants the Client the license to use the agreed photographs and/or videos during an initial 12-month term from the date that full payment has been made.</li>
<li>The initial Licensing fee will be paid by the Client in the initial invoice, at 10% of the total production cost.</li>
<li>The Client may purchase the licensing rights at 50% of the total production cost.</li>
<li>The Client may renew the license every 12 months at 10% of the total production cost. Licensing will be renewed by the Company every 12 months unless the Client chooses to terminate the Licensing Agreement in writing.</li>
<li>The Company may not assign or transfer any license or part thereof, unless authorized in writing by the Company. By default, the License shall be deemed cancelled by the operation of law.</li>
<li>The Client does NOT have the right to edit, change, add to, take from, alter or otherwise amend any videos without the prior written consent of the photographer.</li>
<li>The Client agrees and acknowledges that the details of the Services provided have been discussed by both parties and are described in full in any applicable attached briefs.</li>
<li>Should a Client representative be required on the day of shooting, the Client agrees that any absence on that day will result in the Company&rsquo;s interpretation of the Services prevailing.</li>
<li>The Client agrees that should shooting extend beyond the standard hours included, the Client will pay an overtime fee of:
<ol start="680">
<li>$680.00 AUD + GST for the team (The Company), including any make-up artists and stylists, per hour</li>
<li>$350.00 AUD + GST for any models and talents per hour</li>
</ol>
</li>
<li>The Client warrants to the Company that:
<ol type="1">
<li>It has the capacity and authority to enter into the Agreement with the Company</li>
<li>It has obtained necessary clearances in relation to the subject matter to be photographed/recorded</li>
<li>It will only use the Photographs and/or videos provided in accordance with the Law and License granted by the Company</li>
</ol>
</li>
<li>No liability whatsoever (except as provided by law) will be accepted by the Company for any damages or losses arising from or as a consequence of the provision of the Services.</li>
<li>If the Client cancels the agreement, the Company reserves the right to charge the Client the full Fee, as well as any Expenses incurred.</li>
<li>This agreement may be terminated if:
<ol type="1">
<li>The Client fails to pay any part of the Fee or Expenses</li>
<li>The Client is declared bankrupt, enters into administration or into liquidation<br /> or</li>
<li>The Client is in breach of the Agreement and has failed to rectify the breach within 30 days after receiving notice form the Company of such breach.</li>
</ol>
</li>
<li>The Agreement may not be modified, amended, or otherwise altered unless agreed to in writing between both parties.</li>
<li>If any provision of the Agreement is held to be invalid under the law, the validity of the whole Agreement shall not be affected. Any remaining provisions will remain in full force and effect.</li>
<li>Definitions:<br /> &lsquo;Photographs&rsquo; refer to and include all original work or any part thereof, created by the Company for the purpose of provision to the Client<br /> &lsquo;Videos&rsquo; refer to and include all original work or any part thereof, created by the Company for the purpose of provision to the client</li>
</ol>
        </div>
    </div>
</section>

{% endblock %}
