{% extends "en-base.twig" %}

{% block content %}


<section class="banner">
    <div class="container text-center">
        <h1>Monthly Service Activation</h1>
    </div>
</section>

<section class="secure-payments">
    <div class="container text-center">
        <h2>Payment Failed</h2>
        <p>We’re sorry, but your transaction failed to process. Please try again or contact site support.</p>
    </div>
</section>

{% endblock %}