<section class="section-letstalk section-orange">
    <div class="container-fluid">
        <h2 class="mb-3"><strong>I need to grow my revenue. Help!</strong></h2>
        <p class="mb-4">Hurry! Spots are limited. Claim your FREE 30 minute digital growth session</p>
        <a href="{{ home_url }}strategy-form" class="btn fp-btn fp-btn-white fp-btn-shadow fp-session">Get my free 30 Minute Strategy Session</a>
    </div>
</section>