<section class="section-letstalk section-orange section-letstalk-new">
    <div class="container-fluid">
        <h2 class="mb-3"><strong>Claim your 100% free REVENUE GROWTH strategy session
                with an experienced digital strategist valued at {{ session_value }}.</strong></h2>
        <p class="mb-4" style="font-size: 25px; font-weight:normal; line-height: 23px;">We outline bulletproof tactics that dramatically increase website traffic and revenue, even during tough economic times. </p>
        <p class="font-italic mb-4" style="font-size: 18px; font-weight:normal;">Hurry! Limited spots available.</p>
        <a href="{{ home_url }}free-growth-strategy" class="btn fp-btn fp-btn-white fp-btn-shadow fp-session free-session-btn">Get my free revenue growth session</a>
    </div>
</section>