<section class="section-letstalk section-orange">
    <div class="container-fluid">
        <h2 class="mb-3"><strong>Claim your 100% FREE revenue GROWTH strategy session
                with an experienced digital strategist valued at {{ session_value }}.</strong></h2>
        <p class="mb-4" style="font-size: 25px; font-weight:normal;">We outline bulletproof tactics that dramatically increase website traffic and revenue, even during tough economic times. </p>
        <p class="font-italic mb-4" style="font-size: 25px; font-weight:normal;">Hurry! Limited spots available.</p>
        <a href="{{ home_url }}strategy-form" class="btn fp-btn fp-btn-white fp-btn-shadow fp-session">Get my free growth session</a>
    </div>
</section>