<div class="text-center text-md-left awards-badges">
    <img src="{{ site.theme.link }}/assets/img/img_banner_badges_lg.svg" class="img-fluid d-none d-sm-inline-block" alt="" />
    <img src="{{ site.theme.link }}/assets/img/img_banner_badges_sm.svg" class="img-fluid d-sm-none" alt="" />
</div>