

<section class="section-letstalk section-orange">
    <div class="container-fluid">
        <h2 class="mb-3"><strong>Get your FREE Website Health Check with an experienced<br> digital strategist valued at {{ session_value }}.</strong></h2>
        <p class="mb-4">Limited spots available!</p>
        <a href="{{ home_url }}free-session" class="btn fp-btn fp-btn-white fp-btn-shadow fp-session">Get my free health check</a>
    </div>
</section>