<section class="section-featured-in">
    <div class="container">
        <div class="row align-items-center no-gutters">
            <div class="col-12 col-xl-3">
                <h2>Featured in</h2>
            </div>
            <div class="col-12 col-xl-9">
                <img src="{{ site.theme.link }}/assets/img/img_featured_in_seo_mob.svg" class="img-fluid d-md-none" alt="Featured in" />
                <img style="margin-bottom: 20px;" src="{{ site.theme.link }}/assets/img/img_featured_in_seo.svg" class="img-fluid d-none d-md-inline-block" alt="Featured in" />
            </div>
        </div>
    </div>
</section>