<style>
    @media (min-width: 768px) {
        section.section-featured-in {
            padding-top: 50px;
        }
    }
</style>

<section class="section-featured-in">
    <div class="container">
        <div class="row align-items-center no-gutters">
            <div class="col-12 col-xl-3">
                <p class="p-tag-h2-style text-center text-xl-left">Featured in</p>
            </div>
            <div class="col-12 col-xl-9">
                <img src="{{ site.theme.link }}/assets/img/img_featured_in_news_mob.svg" class="img-fluid d-md-none d-block m-auto" alt="Featured in" />
                <img src="{{ site.theme.link }}/assets/img/img_featured_in_news.svg" class="img-fluid d-none d-md-inline-block" alt="Featured in" />
            </div>
        </div>
    </div>
</section>